@charset "UTF-8";
/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    letter-spacing: 0.2px;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input, textarea {
    font: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background: none;
}